@arrowFontSizeLandscape: 4vw;
@arrowFontSizePortrait: 8vw;
.downArrow {
    position: absolute;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
    @media screen and (orientation:landscape) {
        width: @arrowFontSizeLandscape;
    }
    @media screen and (orientation:portrait) {
        width: @arrowFontSizePortrait;
    }
}
/**
* used to return on top
*/
.upArrow {
    position: absolute;
    z-index: 1;
    @media screen and (orientation:landscape) {
        width: 4vw;
        left: 0;
        top: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
    }
    @media screen and (orientation:portrait) {
        width: 9vw;
        margin-top: 3vw;
        margin-left: 3vw;
    }
}
