@downloadLinkScaleDuration: 175ms;
@downloadLinkScaleSize: 1.04;
.downloadLink {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: all @downloadLinkScaleDuration ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all @downloadLinkScaleDuration ease-in;
    -ms-transform: scale(1);
    -moz-transition: all @downloadLinkScaleDuration ease-in;
    -moz-transform: scale(1);
    transition: all @downloadLinkScaleDuration ease-in;
    transform: scale(1);
    @media screen and (orientation:landscape) {
        padding-top: 2.5%;
        font-size: 2.5vw;
    }
    @media screen and (orientation:portrait) {
        padding-top: 5%;
        font-size: 5vw;
    }
}
.downloadLink:hover {
    -webkit-transition: all @downloadLinkScaleDuration ease-in;
    -webkit-transform: scale(@downloadLinkScaleSize);
    -ms-transition: all @downloadLinkScaleDuration ease-in;
    -ms-transform: scale(@downloadLinkScaleSize);
    -moz-transition: all @downloadLinkScaleDuration ease-in;
    -moz-transform: scale(@downloadLinkScaleSize);
    transition: all @downloadLinkScaleDuration ease-in;
    transform: scale(@downloadLinkScaleSize);
}
.stravaLogoDownload {
    padding-top: 0.25%;
    @media screen and (orientation:landscape) {
        width: 10%;
    }
    @media screen and (orientation:portrait) {
        width: 17%;
    }
}
