.logo {
    /* center it on screen*/
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
@media screen and (orientation:landscape) {
    .logo {
        width: 23%;
    }
}
@media screen and (orientation:portrait) {
    .logo {
        width: 60%;
    }
}
