/*
OUTSIDE LINKS
*/
.outsideLinks {
    z-index: 1;
    right: 0;
    position: absolute;
    @media screen and (orientation:landscape) {
        margin-top: 3.25vw;
        margin-right: 1.5vw;
    }
    @media screen and (orientation:portrait) {
        margin-top: 3vw;
        margin-left: 3vw;
    }
}
.outsideLinks a {
    cursor: pointer;
}
/* ICONS STYLE */
@iconSizeLandscape: 2.5vw;
@iconSizePortrait: 9vw;
.outsideIcons {
    @media screen and (orientation:landscape) {
        font-size: @iconSizeLandscape;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }
    @media screen and (orientation:portrait) {
        font-size: @iconSizePortrait;
        padding-left: 1.0vw;
        padding-right: 1.0vw;
    }
}
.importantIcon {
    @media screen and (orientation:landscape) {
        font-size: @iconSizeLandscape * 1.5;
    }
    @media screen and (orientation:portrait) {
        font-size: @iconSizePortrait * 1.5;
    }
}
