.preview {
    text-align: center;
    @media screen and (orientation:landscape) {
        font-size: 1.75vw;
    }
    @media screen and (orientation:portrait) {
        font-size: 4vw;
    }
}
.screenshot {
    opacity: 0.75;
}
.screenshot:hover {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
.preview .medium {
    @media screen and (orientation:landscape) {
        width: 35%;
        padding-bottom: 0.75%;
    }
    @media screen and (orientation:portrait) {
        width: 65%;
        padding-bottom: 3%;
    }
}
.preview .small {
    @media screen and (orientation:landscape) {
        width: 27.5%;
        padding-bottom: 0.75%;
    }
    @media screen and (orientation:portrait) {
        width: 45%;
        padding-bottom: 3%;
    }
}
