@media screen and (orientation:landscape) {
    .ribbon {
        top: 13vw;
        z-index: -1;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: 0.25;
    }
}
@media screen and (orientation:portrait) {
    .ribbon {
        position: absolute;
        z-index: -1;
        top: 50%;
        width: 100%;
        height: 50%;
        opacity: 0.25;
        background-color: #000;
    }
}
